<h3 class="text-center">
  Produce You're Growing
</h4>
<div class="row">
  <div class="list-group col-md-6">
    {{#eachPropertyColumn myGrowing 1 2}}
      <a href="#" class="list-group-item supply-filter active" data-name="{{property}}">
        {{property}} <span class="badge">{{value.length}}</span>
      </a>
    {{/eachPropertyColumn}}
    </div>
    <div class="list-group col-md-6">
    {{#eachPropertyColumn myGrowing 2 2}}
      <a href="#" class="list-group-item supply-filter active" data-name="{{property}}">
        {{property}} <span class="badge">{{value.length}}</span>
      </a>
    {{/eachPropertyColumn}}
  </div>
</div>

<h3 class="text-center">
  Produce You've Harvested
</h4>
<div class="row">
  <div class="list-group col-md-6">
    {{#eachPropertyColumn myHarvesting 1 2}}
      <a href="#" class="list-group-item supply-filter active" data-name="{{property}}">
        {{property}} <span class="badge">{{value.length}}</span>
      </a>
    {{/eachPropertyColumn}}
    </div>
    <div class="list-group col-md-6">
    {{#eachPropertyColumn myHarvesting 2 2}}
      <a href="#" class="list-group-item supply-filter active" data-name="{{property}}">
        {{property}} <span class="badge">{{value.length}}</span>
      </a>
    {{/eachPropertyColumn}}
  </div>
</div>

<h3 class="text-center">
  Other Produce Being Requested
</h4>
<div class="row">
  <div class="list-group col-md-6">
    {{#eachPropertyColumn allDemand 1 2}}
      <a href="#" class="list-group-item supply-filter active" data-name="{{property}}">
        {{property}} <span class="badge">{{value.length}}</span>
      </a>
    {{/eachPropertyColumn}}
    </div>
    <div class="list-group col-md-6">
    {{#eachPropertyColumn allDemand 2 2}}
      <a href="#" class="list-group-item supply-filter active" data-name="{{property}}">
        {{property}} <span class="badge">{{value.length}}</span>
      </a>
    {{/eachPropertyColumn}}
  </div>
</div>
